// Place all the styles related to the public::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my_page_table-bordered{
    margin-left: 310px ;
}

.title{
    margin-left: 100px;
}

.space{
    margin-left: 50px;
}
