// Place all the styles related to the admin::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
     width: 90%;
     height: 500px;
    
}

.footer{
    width: 90%;
    height: 100px;
   
}

.customer_link{
    margin-top: 30px;
    margin-left: 310px;
}


.title{
     margin-left: 100px;
 }
 
 .item_link{
     margin-top: 30px;
     margin-left: 600px;
 }

