// Place all the styles related to the admin::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head {
    width: 90%;
    height: 100px;
  }
  
  .border{
       border: 1px solid black;
  }

 .surround {
   margin: 40px 90px;
   padding: 0px 50px 0px;
   
 }

 .main{
     width: 90%;
     height: 70px;
 }

 .genre_form{
     width: 90%;
     height: 30px;
     display: flex;
 }

 .letter{
     width: 130px;
     margin-left: 20px;
     margin-right: 20px;
     
 }

 .file{
     width: 30px;
     height: 20px;
    
 }

 .register{
     width: 30px;
     height: 20px;
     margin-left: 75px;
     
 }

 .foot{
     width: 300px;
     height: 190px;
 }

.title{
    width: 200px;
    height: 30px;
    padding-left: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 80px;
} 

.name{
    width: 100px;
    height: 20px;
    border: bottom 1px solid ;
    margin-left: 20px;
    
}

.box{
    width: 230px;
    height: 20px;
    margin-left: 80px;
    border-bottom: 1px solid black;
}

.edit{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    border: 1px solid black;
   


}
