// Place all the styles related to the admin::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.head {
    width: 90%;
    height: 100px;
    border: 1px solid black;
    
  }

 .surround {
   margin: 40px 90px;
   padding: 0px 50px 0px;
   display :inline-block;
 }

 .main{
     width: 90%;
     height: 500px;
    
     
 }

 .image{
     display: inline-block;
 }

 .letter{
    width: 200px;
        padding-left: 50px;
        margin-left: 250px;
        display: inline-block;
 }

 .file{
     margin-left: 60px;
     display: inline-block;
 }

 .button{
     margin: 20px;
     display: inline-block;
 }

 .register{
     margin-left: 80px;
 }
 
 .index_table{
     width: 80%;
     margin: 0 auto;
     max-width: 500px;
 }
 
 .admin_item{
     text-align: center;
 }
 
 .title{
     margin-left: 100px;
 }
 
 .new{
     margin-left: 1000px;
 }
 
 .item_link{
     margin-top: 30px;
     margin-left: 600px;
 }